
html {
  background-color: black;
  font-family: Verdana;
}

h1,
p,
h2 {
  text-align: center;
}

h1 {
  font-weight: Normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

.white {
  color: White;
}

.gray {
  color: Gray;
  font-size: 21px;
}

.footer {
  text-align: right;
}
